datacenter = "dc1"
data_dir   = "/opt/consul"
bind_addr  = "0.0.0.0"
client_addr = "0.0.0.0"

server = false

acl {
  enabled                  = true
  default_policy           = "deny"
  enable_token_persistence = true
}

connect {
  enabled = true
}

retry_join = ["CONSUL_SERVER_PRIVATE_IP"]
