ui = true
disable_mlock = true

storage "raft" {
  path = "/opt/vault/data"
  node_id = "personal-stack-vault-1"
}

listener "tcp" {
  address = "__BIND_ADDR__:8200"
  cluster_address = "__BIND_ADDR__:8201"
  tls_disable = 1
}

api_addr = "http://__BIND_ADDR__:8200"
cluster_addr = "http://__BIND_ADDR__:8201"
