[Unit]
Description=AdGuard Home: Network-wide ads & trackers blocking DNS server
After=network-online.target
Wants=network-online.target
Before=tailscaled.service
Conflicts=systemd-resolved.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/systemctl stop systemd-resolved
ExecStart=/opt/adguard-home/AdGuardHome -c /opt/adguard-home/AdGuardHome.yaml -w /opt/adguard-home
Restart=on-failure
RestartSec=10
AmbientCapabilities=CAP_NET_BIND_SERVICE
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
